### 1) swap three number a,b,c to c,b,a respectively

In [ ]:
a=5
b=6
c=7
print("before swapping",a,b,c)
a, b, c = c, b, a
print("after swapping",a,b,c)

### 2) reverse a string

In [ ]:
string = "I saw you dancing in a crowded room"
str2 =''
for i in string:
    str2 = i + str2
str2

In [ ]:
string[::-1]

### 3) total vowels in a sentence/word.

In [ ]:
sentence = 'All the silver and gold only make my skin cold'
vowels = 'aeiou'
count = 0
for i in sentence:
    if i in vowels:
        count = count + 1
count

### 4) if your name contains all unique letter

In [ ]:
name = 'Priyanshu'
ans = True
for i in name:
    if i.count(name)>1:
        ans = False
        break
if(ans):
    print("yes unique character")
else:
    print('no')

### 5) sum of all digit of given a number

In [ ]:
num = 54321
total = 0
while(num):
    ld = num%10
    total += ld
    num //= 10
total

### 6) remove duplicate value from list

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
ans = []
[ans.append(val) for val in lst if val not in ans]
ans

### 7) split --

In [ ]:
word = 'geeks, for, geeks, pawan'

# maxsplit: 0
print(word.split(', ', 0))

# maxsplit: 4
print(word.split(', ', 4))

# maxsplit: 1
print(word.split(', ', 1))

# by default
word.split()

### 8) Largest element in a list

In [ ]:
lst = [4, 1, 9, 3, 7]
max_no = lst[0]
for i in lst:
    if i>max_no:
        max_no = i
max_no

In [ ]:
lst.sort()
lst[-1]

Find the second largest Number

In [94]:
def Max(lt):
    m = lt[0]
    for i in lt:
        if i>m:
            m=i
            
    n = lt[0]
    for i in lt:
        if i>n and i!=m:
            n=i
    return n

lst = [2,5,7,32,9]
ans = Max(lst)
ans

9

### 9) Reverse a number

In [ ]:
num = 347623
ans = 0
while(num):
    ld = num%10
    ans = ans*10 + ld
    num = num//10
    
ans

In [ ]:
num = 347623
new_num = str(num)
new  = int(new_num[::-1])
new

In [ ]:
# int to list
num = 347623
new_num = list(map(int, str(num)))
new_num.reverse()
new_num

### 10) Leap Year

In [ ]:
year = 2025
if((year%4==0 and year%100!=0) or year%400==0):
    print("LEAP YEAR")
else:
    print("not a leap year")

#####
    üåç Background: Earth's Orbit is Not Exactly 365 Days
    One full orbit of Earth around the sun takes about 365.2422 days ‚Äî not exactly 365.
    So if we always had 365 days every year, we‚Äôd lose ~0.2422 days (about 6 hours) each year.
    ‚úÖ Fixing That with Leap Years
    To make up for this, we add 1 extra day every 4 years ‚Üí that's the simple divisible by 4 rule.
    This gives an average year length of:
    365 + 1/4 = 365.25 days
    But now we‚Äôre slightly over the actual length (365.2422). So over time, this extra ~0.0078 day per year adds up.

    ‚ö†Ô∏è Problem: Overcorrecting Every 4 Years
    That 365.25 average is too long by about 11 minutes per year.
    After 128 years, we‚Äôre ahead by a full day.

    üõ† Solution: Skip Some Leap Years
    To fix that, we skip some leap years ‚Äî specifically:

    Years divisible by 100 are NOT leap years (e.g., 1700, 1800, 1900).

    So now, the average becomes closer to:
    365 + 1/4 - 1/100 = 365.24
    Still not perfect...

    üîß Final Adjustment: But Keep Every 400 Years
    Years divisible by 400 ARE leap years (e.g., 1600, 2000).
    So we add back 1 day every 400 years, adjusting the average to:
    365 + 1/4 - 1/100 + 1/400 = 365.2425 days
    Which is very close to the real 365.2422 ‚Äî just 26 seconds off per year.

### 11) Factorial

In [ ]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)

ans = fact(5)
ans

### 12) Prime Number

In [ ]:
import math

def isPrime(n):
    if(n<2):
        return False
    for i in range(2, int(math.sqrt(n))+1):
        if n%i==0:
            return False
    return True

ans = isPrime(23)
ans

### 13) Intersection in a list

In [ ]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
ans = []
for i in a:
    if i in b:
        ans.append(i)
ans

In [ ]:
a_a = set(a)
b_b = set(b)
ans = a_a.intersection(b_b)
new_Ans = list(ans)
new_Ans

### 14) Palindrome or not

In [ ]:
s1 = 'sore was I ere I saw eros'
s2 = ''
for i in s1:
    s2 = i+s2
# print(s1,'--',s2)
if(s1.lower() == s2.lower()):
    print("Yes s1 and s2 are palindrome")
else:
    print("no")

### 15) WAP to enter you full name as input and then store the first name and last name in separate variables

In [ ]:
i = input("Enter a name")
n = i.split()

if(len(n)==3):
    first_name = n[0]
    middle_name = n[1]
    last_name = n[2]
    print(n)
    print(first_name,middle_name,last_name)
    
elif(len(n)==2):
    first_name = n[0]
    last_name = n[1]
    print(n)
    print(first_name,last_name)
    
else:
    name = n[0]
    print(n)
    print(name)

### 16) Remove all characters from string1 that are present in string2.

In [ ]:
string1 = "hello world"
string2 = "low"
ans = ''
for i in string1:
    if i not in string2:
        ans += i
ans

### 17) Store all the numbers greater than threshold value into a tuple.

In [ ]:
threshold= 50
tuple_1=(10,55,66,42,90,11,120)

filtered_list=[]

for num in tuple_1:
    if num > threshold:
        filtered_list.append(num)
filtered_tuple=tuple(filtered_list)
print(filtered_tuple)

### 18) Find the characters that appear in both strings.

In [ ]:
str1 = "abcdef"
str2 = "bdfghj"
# Output: ['b', 'd', 'f']

ans = ''.split()
print(ans)
for i in str1:
    for j in str2:
        if(i in str2):
            ans += i
            break
ans

### 19) Remove all words longer than n characters from the sentence.

In [ ]:
sentence = "Python programming is fun"
n = 6
# Output:¬†"Python¬†is¬†fun"
test = sentence.split()
ans = []
for i in test:
    if(len(i)<=6):
        ans.append(i)
ans

### 20)   Group words in a sentence by their lengths.

In [ ]:
sentence = "Python is fun and challenging"
# Output: {6: ['Python'], 2: ['is'], 3: ['fun', 'and'], 11: ['challenging']}

words = sentence.split()
print(words)
ans = {}

for i in words:
    length = len(i)
    if length not in ans:
        ans[length] = []
    ans[length].append(i)

ans

### 21) Power of a number n

In [ ]:
'''
27 is a number pow(3,3)
32 is a number pow(2,5)
'''
import math
print("Enter number and base respectively:")
num  = int(input())
base = int(input())

# Calculate approximate power using logarithm
power = math.log(num, base)

# Round to the nearest integer
rounded_power = round(power)

# Check if base^rounded_power equals num
if base ** rounded_power == num:
    print(f"{num} is {base} to the power of {rounded_power}")
else:
    print(f"{num} is NOT a power of {base}")

### 22) Turn 2-D list into 1-D

In [ ]:
lst = [[1,2,5],
       [3,4]]
ans = []
for i in lst:
    for j in i:
        ans.append(j)
ans

### 23) Find all duplicates in a list

In [76]:
lst = [1, 2, 3, 2, 4, 1]
dup = set()
ans = set()
for i in lst:
    if i in ans:
        dup.add(i)
    else:
        ans.add(i)
dup

{1, 2}

In [91]:
lst = [2,3,4,5,7,9,8,5,6,2,10,3,2,8,5,3]
lt = []
for i in lst:
    if lst.count(i)>1:
        lt.append(i)
lt

[2, 3, 5, 8, 5, 2, 3, 2, 8, 5, 3]

### 24) Count frequency of each character in a string

In [80]:
def count_it(s):
    ans = {}
    for i in s:
        ans[i] = s.count(i)
    return ans

test = "Priyanshu Kumar Sahu"
see_ans = count_it(test)
print(see_ans)

{'P': 1, 'r': 2, 'i': 1, 'y': 1, 'a': 3, 'n': 1, 's': 1, 'h': 2, 'u': 3, ' ': 2, 'K': 1, 'm': 1, 'S': 1}

### Any operation
    ex: 2+3 or 6//2 any other arithmetic operation

In [81]:
int(eval(input("enter")))

3

### 25) List Comprehension & Filtering: Write a Python function filter_even_numbers(numbers) that takes a list of integers as input and returns a new list containing only the even numbers from the original list, using a list comprehension.

In [83]:
def lst(lt):
    new_lt = [i for i in lt if i%2==0]
    return new_lt

lt = [1,3,5,7,9,2,4,6,8]
new = lst(lt)
new

[2, 4, 6, 8]

### 26) Dictionary Manipulation & Basic Aggregation: Create a function calculate_average_score(student_scores) that takes a dictionary where keys are student names (strings) and values are their scores (integers). The function should return the average score of all students.

In [85]:
def avg(dt):
    count = 0
    total = 0
    for i in dt:
        total += dt[i]
        count = count+1
    return (total/count)

dt1 = dict([("Priyanshu",88),("Krish",89),("GK",80),("Vinayak",96),("Shashank",83),("Aman",98)])
avg = avg(dt1)
avg

89.0

### 27) Function with Multiple Return Values & Data Types: Write a function analyze_string(text) that takes a string as input. It should return two values: the number of vowels (a, e, i, o, u, case-insensitive) and the number of consonants in the string. Ignore spaces and punctuation.

In [86]:
def ct(string):
    new_str = "aeiou"
    count_alpha = 0
    count_cons = 0
    for i in string.strip().lower():
        if i in new_str:
            count_alpha += 1
        else:
            count_cons += 1
    return count_alpha,count_cons

str = input("enter words\n")
count = ct(str)
print(f"your enter words : {str}")
print(f"total vowels : {count[0]} and total consonants : {count[-1]}")

your enter words : wehfwih ih fe
total vowels : 4 and total consonants : 9

### 28) Tuple Unpacking & Swapping: Write a function swap_values(a, b) that takes two arguments and returns them with their values swapped, using tuple unpacking.

In [87]:
def swap(t1):
    a,b = t1
    print(f"before swapping : {a,b}")
    a,b = b,a
    print(f"after swapping : {a,b}")
    
swap((2,3))

before swapping : (2, 3)
after swapping : (3, 2)

### 29) Set Operations & Unique Elements: Create a function find_common_elements(list1, list2) that takes two lists as input. It should return a new list containing only the elements that are common to both input lists, utilizing¬†set¬†operations.

In [88]:
def uni(lt1,lt2):
    lt1 = set(lt1)
    lt2 = set(lt2)
    new = list(lt1.intersection(lt2))
    return new

lt1 = [2,3,4,5,6,7,8,9]
lt2 = [1,3,4,3,2,5,6,7]
new_list = uni(lt1,lt2)
new_list

[2, 3, 4, 5, 6, 7]

### 30) List input (pre defined). Sum of all the numbers except the numbers that are divisible by 3.

In [90]:
lst=[4,9,2,15,6,7]
ans = [i for i in lst if i%3!=0]
sum(ans)

13

### 31) Print all indices where number 5 is found in the list.

In [92]:
lst = [2,3,4,5,7,9,8,5,6,2,10,3,2,8,5,3]
for i in range(len(lst)):
    if lst[i]==5:
        print(i,end=' ')

3 7 14

### 32) Write a program to count the number of even and odd numbers in a list.

In [95]:
def odd_even(lt):
    count_odd = 0
    count_even = 0
    for i in lt:
        if i%2==0:
            count_even += 1
        else:
            count_odd += 1
    return count_even,count_odd

lst = [2,3,4,5,7,9,8,5,6,2,10]
store = odd_even(lst)
print(f"total even no. in given list is {store[0]} and total odd no. in list is {store[-1]}")

total even no. in given list is 6 and total odd no. in list is 5

Count how many times the number 3 appears in the list.

In [96]:
lst = [2,3,4,5,7,9,8,5,6,2,10,3,2,8,5,3]
lst.count(3)

3

### 33) Check if a list is sorted in ascending¬†order.

In [98]:
lst = [2,3,4,5,7,9,8,5,6,2,10,3,2,8,5,3]

def check(lt):
    bool  = True
    for i in range(0,len(lt)-1):
        if(lst[i+1]<i):
            bool = False
            break
    return bool

lt2 = [32,36,78,96,421]        

check(lst),check(lt2)

(False, True)

### 34) List Manipulation - Removing Duplicates (Order Preserving):
Write a function remove_duplicates_preserve_order(input_list) that takes a list as input and returns a new list with all duplicate elements removed, while preserving the original order of the remaining unique elements.

In [99]:
def remove_duplicates_preserve_order(input_list):
    new_lt = []
    for i in input_list:
        if i not in new_lt:
            new_lt.append(i)
    return new_lt

ex = remove_duplicates_preserve_order([2,3,4,2,67,45,34,67,45,3,2,8,9,6])
ex

[2, 3, 4, 67, 45, 34, 8, 9, 6]

### 35) Nested Data Structures - Accessing Data:
Given a list of dictionaries, where each dictionary represents an item with 'name' (string) and 'price' (float) keys. Write a function get_total_price(items_list) that calculates and returns the sum of all prices.
Example: items = [{'name': 'Laptop', 'price': 1200.00}, {'name': 'Mouse', 'price': 25.50}]

In [100]:
items = [{'name': 'Laptop', 'price': 1200.00}, {'name': 'Mouse', 'price': 25.50}]

def get_total_price(items_list):
    total = 0
    for i in items:
        for j in i:
            if(j=='price'):
                total = total+i[j]
    return total
            
total = get_total_price(items)
total

1225.5

### 36) Given a list of integers, create a new list where each element is the integer average of the first i elements of the original list, for i from 1 to the length of the list.
    Let's compute it step by step:
ex: lt = [4,1,7,3,10]

j = 1: avg of [4] ‚Üí 4

j = 2: avg of [4, 1] ‚Üí (4+1)//2 = 2

j = 3: avg of [4, 1, 7] ‚Üí (4+1+7)//3 = 4

j = 4: avg of [4, 1, 7, 3] ‚Üí 15//4 = 3

j = 5: avg of [4, 1, 7, 3, 10] ‚Üí 25//5 = 5

In [105]:
lt = [4,1,7,3,10]
total = 0
lt1 = []
j = 1
le = len(lt)

while True:
    for i in range(j):
        total += lt[i]
    lt1.append(total // j)
    total = 0
    j = j + 1
    if j == le + 1:
        break

lt1

[4, 2, 4, 3, 5]

### 37) Write a program to compute the running integer average of elements in a list. For each element, calculate the average of all elements from the start of the list up to that index."

In [106]:
n = [4, 1, 7, 3, 10]
l2 = []
sum = 0

for i in range(len(n)):
    sum += n[i]
    avg = sum // (i + 1)
    l2.append(avg)

print(l2)

[4, 2, 4, 3, 5]